{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Lowchat</title>
    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<style>
	.chat__user-color {
	color:{{ message.user.features.namecolor }}"
	}
	</style>
</head>
<body id="doc">
	<div class="container-wrapper">
		<div class="container">
			<span class="user-hi">Привет, {{ user.username }}!</span>
			<a href="https://nameless-journey-66002.herokuapp.com/logout" class="user-goodbye">
				<button class="user-goodbye__button">Go out</button>
			</a>
			<div class="chat">
				<div class="chat__main-frame">
					{% for message in messages %}
	   					<div class="chat__user-text">
	   						<p class="chat__user-name chat__user-color">{{ message.user.username }}</p>:
							<span class="chat__user-message">{{ message.text }}</span>
	   					</div>
					{% endfor %}
				</div>
                <form class="chat__i" action="{% url 'chat:send' %}" method="post">
					{% csrf_token %}
					<input type="text" name="text" class="chat__input" maxlength="1024" required id="id_text">
                    <button class="chat__button" type="submit" value="send">go</button>
				</form> 
			</div>
	</div>
</body>
</html>
