/* # Setup devices width */
/* # Variables for mobile first approach and strict ranges */
body {
  font-family: Comic Sans MS;
  padding: 0;
  margin: 0;
  background: white;
}
.container-wrapper {
  background: #EEF9E6;
  margin: 3rem 0;
}
.container {
  margin: auto;
  width: 80%;
  padding-bottom: 3rem;
}
.user-hi {
  color: #375F1B;
  font-size: 2rem;
}
.user-goodbye {
  color: #375F1B;
  float: right;
  text-decoration: none;
}
.user-goodbye__button {
  font-size: 2rem;
  border: 3px solid #375F1B;
  background: #66AF31;
  padding: 5px;
  border-top: 0;
  text-transform: uppercase;
}
.chat {
  margin-top: 30px;
  width: 50%;
  height: 85vh;
}
.chat__main-frame {
  overflow-y: auto;
  height: 96%;
  background: #d7eec7;
  border: 3px solid #375F1B;
}
.chat__user-text {
  margin: 1%;
  font-size: 1.5rem;
  float: left;
  width: 98%;
}
.chat__user-name {
  float: left;
  margin: 0 0;
  font-weight: bold;
}
.chat__user-message {
  padding-left: 2px;
  white-space: normal;
  font-weight: normal;
  color: black;
}
.chat__i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #375F1B;
  background: #375F1B;
  margin-top: 1px;
}
.chat__input {
  color: darkgreen;
  font-size: 2rem;
  background: #9BD770;
  width: 87%;
}
.chat__input:focus {
  color: black;
  background: #9BD720;
  border: 1px solid #66AF31;
}
.chat__button {
  text-transform: uppercase;
  font-size: 2rem;
  width: 13%;
  background: #66AF31;
  border-left: 3px solid #375F1B;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4ubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiOztBQUVBO0VBQ0ksMEJBQUE7RUFDQSxVQUFBO0VBQ0EsU0FBQTtFQUNBLGlCQUFBOztBQUdKO0VBQ0MsbUJBQUE7RUFDQSxjQUFBOztBQUVEO0VBQ0MsWUFBQTtFQUNBLFVBQUE7RUFDQSxvQkFBQTs7QUFHRDtFQUNDLGNBQUE7RUFDQSxlQUFBOztBQUdEO0VBQ0MsY0FBQTtFQUNBLFlBQUE7RUFDQSxxQkFBQTs7QUFFQSxhQUFDO0VBQ0QsZUFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxZQUFBO0VBQ0EsYUFBQTtFQUNBLHlCQUFBOztBQUlEO0VBQ0MsZ0JBQUE7RUFDQSxVQUFBO0VBQ0EsWUFBQTs7QUFFRyxLQUFDO0VBQ0QsZ0JBQUE7RUFDQSxXQUFBO0VBQ0EsbUJBQUE7RUFDQSx5QkFBQTs7QUFHQSxLQUFDO0VBQ0QsVUFBQTtFQUNBLGlCQUFBO0VBQ0EsV0FBQTtFQUNBLFVBQUE7O0FBR0EsS0FBQztFQUNELFdBQUE7RUFDSCxXQUFBO0VBQ0csaUJBQUE7O0FBR0EsS0FBQztFQUNELGlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkFBQTtFQUNBLFlBQUE7O0FBR0gsS0FBQztFQUNELGFBQUE7RUFDQSxtQkFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxlQUFBOztBQUdBLEtBQUM7RUFDQSxnQkFBQTtFQUNELGVBQUE7RUFDQSxtQkFBQTtFQUNBLFVBQUE7O0FBRUEsS0FOQyxPQU1BO0VBQ0QsWUFBQTtFQUNBLG1CQUFBO0VBQ0EseUJBQUE7O0FBS0EsS0FBQztFQUNELHlCQUFBO0VBQ0EsZUFBQTtFQUNBLFVBQUE7RUFDQSxtQkFBQTtFQUNBLDhCQUFBIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCAobGVzcykgJ21lZGlhJztcclxuXHJcbmJvZHkge1xyXG4gICAgZm9udC1mYW1pbHk6IENvbWljIFNhbnMgTVM7IFxyXG4gICAgcGFkZGluZzogMDtcclxuICAgIG1hcmdpbjogMDtcclxuICAgIGJhY2tncm91bmQ6IHdoaXRlO1xyXG59XHJcblxyXG4uY29udGFpbmVyLXdyYXBwZXIge1xyXG5cdGJhY2tncm91bmQ6ICNFRUY5RTY7XHJcblx0bWFyZ2luOiAzcmVtIDA7XHJcbn1cclxuLmNvbnRhaW5lciB7XHJcblx0bWFyZ2luOiBhdXRvO1xyXG5cdHdpZHRoOiA4MCU7XHJcblx0cGFkZGluZy1ib3R0b206IDNyZW07XHJcbn1cclxuXHJcbi51c2VyLWhpIHtcclxuXHRjb2xvcjogIzM3NUYxQjtcclxuXHRmb250LXNpemU6IDJyZW07XHJcbn1cclxuXHJcbi51c2VyLWdvb2RieWUge1xyXG5cdGNvbG9yOiAjMzc1RjFCO1xyXG5cdGZsb2F0OiByaWdodDtcclxuXHR0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcblxyXG5cdCZfX2J1dHRvbiB7XHJcblx0Zm9udC1zaXplOiAycmVtO1xyXG5cdGJvcmRlcjogM3B4IHNvbGlkICMzNzVGMUI7XHJcblx0YmFja2dyb3VuZDogIzY2QUYzMTtcclxuXHRwYWRkaW5nOiA1cHg7XHJcblx0Ym9yZGVyLXRvcDogMDtcclxuXHR0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xyXG5cdH1cclxufVxyXG5cclxuLmNoYXQge1xyXG5cdG1hcmdpbi10b3A6IDMwcHg7XHJcblx0d2lkdGg6IDUwJTtcclxuXHRoZWlnaHQ6IDg1dmg7XHJcbiAgICBcclxuICAgICZfX21haW4tZnJhbWUge1xyXG4gICAgb3ZlcmZsb3cteTogYXV0bztcclxuICAgIGhlaWdodDogOTYlO1xyXG4gICAgYmFja2dyb3VuZDogI2Q3ZWVjNztcclxuICAgIGJvcmRlcjogM3B4IHNvbGlkICMzNzVGMUI7XHJcbiAgICB9XHJcblxyXG4gICAgJl9fdXNlci10ZXh0IHtcclxuICAgIG1hcmdpbjogMSU7XHJcbiAgICBmb250LXNpemU6IDEuNXJlbTtcclxuICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgd2lkdGg6IDk4JTtcclxuICAgIH1cclxuXHJcbiAgICAmX191c2VyLW5hbWUge1xyXG4gICAgZmxvYXQ6IGxlZnQ7XHJcblx0bWFyZ2luOiAwIDA7XHJcbiAgICBmb250LXdlaWdodDogYm9sZDtcclxuICAgIH1cclxuXHJcbiAgICAmX191c2VyLW1lc3NhZ2Uge1xyXG4gICAgcGFkZGluZy1sZWZ0OiAycHg7XHJcbiAgICB3aGl0ZS1zcGFjZTogbm9ybWFsO1xyXG4gICAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcclxuICAgIGNvbG9yOiBibGFjaztcclxuICAgIH1cclxuXHJcblx0Jl9faSB7IFxyXG5cdGRpc3BsYXk6IGZsZXg7XHJcblx0YWxpZ24taXRlbXM6IGNlbnRlcjtcclxuXHRib3JkZXI6IDNweCBzb2xpZCAjMzc1RjFCO1xyXG5cdGJhY2tncm91bmQ6ICMzNzVGMUI7XHJcblx0bWFyZ2luLXRvcDogMXB4O1xyXG59XHJcblxyXG5cdCZfX2lucHV0IHtcclxuIFx0Y29sb3I6IGRhcmtncmVlbjtcclxuXHRmb250LXNpemU6IDJyZW07XHJcblx0YmFja2dyb3VuZDogIzlCRDc3MDtcclxuXHR3aWR0aDogODclO1xyXG5cclxuXHQmOmZvY3VzIHtcclxuXHRjb2xvcjogYmxhY2s7XHJcblx0YmFja2dyb3VuZDogIzlCRDcyMDtcclxuXHRib3JkZXI6IDFweCBzb2xpZCAjNjZBRjMxO1xyXG5cdH1cclxuXHJcblxyXG59XHJcblx0Jl9fYnV0dG9uIHtcclxuXHR0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xyXG5cdGZvbnQtc2l6ZTogMnJlbTtcclxuXHR3aWR0aDogMTMlO1xyXG5cdGJhY2tncm91bmQ6ICM2NkFGMzE7XHJcblx0Ym9yZGVyLWxlZnQ6IDNweCBzb2xpZCAjMzc1RjFCO1xyXG59XHJcbn0iXSwiZmlsZSI6Im1haW4uY3NzIn0= */
