/* # Setup devices width */
/* # Variables for mobile first approach and strict ranges */
body {
  font-family: Comic Sans MS;
  padding: 0;
  margin: 0;
  background: white;
  color: white;
}
.container-wrapper {
  margin: 4rem 0;
  background: #EEF9E6;
}
.container {
  position: relative;
  margin: auto;
  width: 70%;
  padding-bottom: 4rem;
}
.container__i {
  margin: auto;
  width: 85%;
  background: #43403e;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title-i {
  position: absolute;
  background: #66AF31;
  padding: 2rem 0;
  margin: -20px 0 0 0;
  width: 100%;
}
.title {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0 2rem;
  margin: 0;
}
.phrase {
  font-size: 1,2rem;
  font-weight: bold;
  margin: 0;
}
.input {
  margin: 10px 0;
  font-size: 1rem;
}
.input:focus {
  color: black;
  background: #9BD720;
  border: 1px solid #66AF31;
}
.username {
  margin-top: 6rem;
}
.user-goodbye {
  color: #43403e;
  color: #375F1B;
  background: #66AF31;
  background: #9BD770;
  background: #9BD720;
}
.age__input {
  width: 100%;
  font-size: 1rem;
}
.avatar {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid #66AF31;
}
.image {
  margin-top: 6rem;
}
.image__input {
  background: #66AF31;
}
option {
  background: #9BD720;
}
.gender {
  margin-top: 6rem;
}
.registrate {
  margin-top: 130px;
  background: #66AF31;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4ubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiOztBQUVBO0VBQ0MsMEJBQUE7RUFDQSxVQUFBO0VBQ0EsU0FBQTtFQUNBLGlCQUFBO0VBQ0EsWUFBQTs7QUFHRDtFQUNDLGNBQUE7RUFDQSxtQkFBQTs7QUFFRDtFQUNDLGtCQUFBO0VBQ0EsWUFBQTtFQUNBLFVBQUE7RUFDQSxvQkFBQTs7QUFFQSxVQUFDO0VBQ0EsWUFBQTtFQUNBLFVBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0EsYUFBQTtFQUNBLDhCQUFBOztBQUdGO0VBQ0Msa0JBQUE7RUFDQSxtQkFBQTtFQUNBLGVBQUE7RUFDQSxtQkFBQTtFQUNBLFdBQUE7O0FBR0Q7RUFDQyxlQUFBO0VBQ0EseUJBQUE7RUFDQSxlQUFBO0VBQ0EsU0FBQTs7QUFHRDtFQUNDLGlCQUFBO0VBQ0EsaUJBQUE7RUFDQSxTQUFBOztBQUdEO0VBQ0UsY0FBQTtFQUNBLGVBQUE7O0FBQ0MsTUFBQztFQUNILFlBQUE7RUFDQSxtQkFBQTtFQUNBLHlCQUFBOztBQUlEO0VBQ0MsZ0JBQUE7O0FBR0Q7RUFDQyxjQUFBO0VBQ0EsY0FBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkFBQTs7QUFJQyxJQUFDO0VBQ0EsV0FBQTtFQUNBLGVBQUE7O0FBR0g7RUFDRSxnQkFBQTtFQUNBLFdBQUE7RUFDQSxZQUFBO0VBQ0EseUJBQUE7O0FBR0Y7RUFDQyxnQkFBQTs7QUFDRCxNQUFDO0VBQ0EsbUJBQUE7O0FBS0Q7RUFDQyxtQkFBQTs7QUFFRDtFQUNFLGdCQUFBOztBQUdGO0VBQ0MsaUJBQUE7RUFDQSxtQkFBQTtFQUNBLG9CQUFBO0VBQ0EsZUFBQSIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgKGxlc3MpICdtZWRpYSc7XHJcblxyXG5ib2R5IHtcclxuXHRmb250LWZhbWlseTogQ29taWMgU2FucyBNUzsgXHJcblx0cGFkZGluZzogMDtcclxuXHRtYXJnaW46IDA7XHJcblx0YmFja2dyb3VuZDogd2hpdGU7XHJcblx0Y29sb3I6IHdoaXRlO1xyXG59XHJcblxyXG4uY29udGFpbmVyLXdyYXBwZXIge1xyXG5cdG1hcmdpbjogNHJlbSAwO1xyXG5cdGJhY2tncm91bmQ6ICNFRUY5RTY7XHJcbn1cclxuLmNvbnRhaW5lciB7XHJcblx0cG9zaXRpb246IHJlbGF0aXZlO1xyXG5cdG1hcmdpbjogYXV0bztcclxuXHR3aWR0aDogNzAlO1xyXG5cdHBhZGRpbmctYm90dG9tOiA0cmVtO1xyXG5cclxuXHQmX19pIHtcclxuXHRcdG1hcmdpbjogYXV0bztcclxuXHRcdHdpZHRoOiA4NSU7XHJcblx0XHRiYWNrZ3JvdW5kOiAjNDM0MDNlO1xyXG5cdFx0cGFkZGluZzogMXJlbSAzcmVtO1xyXG5cdFx0ZGlzcGxheTogZmxleDtcclxuXHRcdGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcclxuXHR9XHJcbn1cclxuLnRpdGxlLWkge1xyXG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuXHRiYWNrZ3JvdW5kOiAjNjZBRjMxO1xyXG5cdHBhZGRpbmc6IDJyZW0gMDtcclxuXHRtYXJnaW46IC0yMHB4IDAgMCAwO1xyXG5cdHdpZHRoOiAxMDAlO1xyXG59XHJcblxyXG4udGl0bGUge1xyXG5cdGZvbnQtc2l6ZTogMnJlbTtcclxuXHR0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xyXG5cdHBhZGRpbmc6IDAgMnJlbTtcclxuXHRtYXJnaW46IDA7XHJcbn1cclxuXHJcbi5waHJhc2Uge1xyXG5cdGZvbnQtc2l6ZTogMSwycmVtO1xyXG5cdGZvbnQtd2VpZ2h0OiBib2xkO1xyXG5cdG1hcmdpbjogMDtcclxufVxyXG5cclxuLmlucHV0IHtcclxuXHRcdG1hcmdpbjogMTBweCAwO1xyXG5cdFx0Zm9udC1zaXplOiAxcmVtO1xyXG5cdFx0XHQmOmZvY3VzIHtcclxuXHRjb2xvcjogYmxhY2s7XHJcblx0YmFja2dyb3VuZDogIzlCRDcyMDtcclxuXHRib3JkZXI6IDFweCBzb2xpZCAjNjZBRjMxO1xyXG5cdH1cclxufVxyXG5cclxuLnVzZXJuYW1lIHtcclxuXHRtYXJnaW4tdG9wOiA2cmVtO1xyXG59XHJcblxyXG4udXNlci1nb29kYnllIHtcclxuXHRjb2xvcjogIzQzNDAzZTtcclxuXHRjb2xvcjogIzM3NUYxQjtcclxuXHRiYWNrZ3JvdW5kOiAjNjZBRjMxO1xyXG5cdGJhY2tncm91bmQ6ICM5QkQ3NzA7XHJcblx0YmFja2dyb3VuZDogIzlCRDcyMDtcclxufVxyXG5cclxuLmFnZSB7XHJcblx0XHQmX19pbnB1dCB7XHJcblx0XHRcdHdpZHRoOiAxMDAlO1xyXG5cdFx0XHRmb250LXNpemU6IDFyZW07XHJcbn1cclxufVxyXG4uYXZhdGFyIHtcclxuXHQgbWFyZ2luLXRvcDogMTBweDtcclxuXHQgd2lkdGg6IDUwcHg7XHJcblx0IGhlaWdodDogNTBweDtcclxuXHQgYm9yZGVyOiAycHggc29saWQgIzY2QUYzMTtcclxuXHR9XHJcblxyXG4uaW1hZ2Uge1xyXG5cdG1hcmdpbi10b3A6IDZyZW07XHJcbiZfX2lucHV0IHtcclxuXHRiYWNrZ3JvdW5kOiAjNjZBRjMxO1xyXG59XHJcbn1cclxuXHJcblxyXG5vcHRpb24ge1xyXG5cdGJhY2tncm91bmQ6ICM5QkQ3MjA7XHJcbn1cclxuLmdlbmRlciB7XHJcblx0XHRtYXJnaW4tdG9wOiA2cmVtO1xyXG59XHJcblxyXG4ucmVnaXN0cmF0ZSB7XHJcblx0bWFyZ2luLXRvcDogMTMwcHg7XHJcblx0YmFja2dyb3VuZDogIzY2QUYzMTtcclxuXHRwYWRkaW5nOiAwLjVyZW0gMXJlbTtcclxuXHRmb250LXNpemU6IDFyZW07XHJcbn1cclxuXHJcbiJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
